/tmp_kernel
/tmp_uboot
/u-boot/arch/arm/include/asm/arch
/u-boot/examples/standalone/hello_world
/u-boot/examples/standalone/hello_world.srec
/u-boot/include/autoconf.mk
/u-boot/include/autoconf.mk.dep
/u-boot/include/config.h
/u-boot/lib/efi_loader/helloworld.efi
/u-boot/lib/efi_loader/helloworld_efi.so
/u-boot/scripts/basic/fixdep
/u-boot/scripts/kconfig/conf
/u-boot/tools/common/
/u-boot/tools/dumpimage
/u-boot/tools/fdtgrep
/u-boot/tools/gen_eth_addr
/u-boot/tools/gen_ethaddr_crc
/u-boot/tools/img2srec
/u-boot/tools/lib/
/u-boot/tools/mkenvimage
/u-boot/tools/mkimage
/u-boot/tools/proftool
/u-boot/tools/spl_size_limit
