/kernel-4.9/arch/arm64/boot/Image
/kernel-4.9/arch/arm64/boot/zImage
/kernel-4.9/arch/arm64/kernel/vdso/vdso.lds
/kernel-4.9/arch/arm64/kernel/vmlinux.lds
/kernel-4.9/drivers/tty/vt/consolemap_deftbl.c
/kernel-4.9/drivers/tty/vt/defkeymap.c
/kernel-4.9/drivers/video/logo/clut_vga16.c
/kernel-4.9/drivers/video/logo/logo_blackfin_clut224.c
/kernel-4.9/drivers/video/logo/logo_blackfin_vga16.c
/kernel-4.9/drivers/video/logo/logo_dec_clut224.c
/kernel-4.9/drivers/video/logo/logo_linux_clut224.c
/kernel-4.9/drivers/video/logo/logo_linux_mono.c
/kernel-4.9/drivers/video/logo/logo_linux_vga16.c
/kernel-4.9/drivers/video/logo/logo_m32r_clut224.c
/kernel-4.9/drivers/video/logo/logo_mac_clut224.c
/kernel-4.9/drivers/video/logo/logo_parisc_clut224.c
/kernel-4.9/drivers/video/logo/logo_sgi_clut224.c
/kernel-4.9/drivers/video/logo/logo_spe_clut224.c
/kernel-4.9/drivers/video/logo/logo_sun_clut224.c
/kernel-4.9/drivers/video/logo/logo_superh_clut224.c
/kernel-4.9/drivers/video/logo/logo_superh_mono.c
/kernel-4.9/drivers/video/logo/logo_superh_vga16.c
/kernel-4.9/drivers/video/tegra/host/
/kernel-4.9/firmware/tigon/tg3.bin.gen.S
/kernel-4.9/firmware/tigon/tg3_tso.bin.gen.S
/kernel-4.9/firmware/tigon/tg3_tso5.bin.gen.S
/kernel-4.9/kernel/config_data.h
/kernel-4.9/lib/crc32table.h
/kernel-4.9/lib/gen_crc32table
/kernel-4.9/scripts/basic/bin2c
/kernel-4.9/scripts/basic/fixdep
/kernel-4.9/scripts/conmakehash
/kernel-4.9/scripts/dtc/dtc
/kernel-4.9/scripts/genksyms/genksyms
/kernel-4.9/scripts/genksyms/keywords.hash.c
/kernel-4.9/scripts/kallsyms
/kernel-4.9/scripts/kconfig/conf
/kernel-4.9/scripts/kconfig/zconf.hash.c
/kernel-4.9/scripts/mod/devicetable-offsets.h
/kernel-4.9/scripts/mod/elfconfig.h
/kernel-4.9/scripts/mod/mk_elfconfig
/kernel-4.9/scripts/mod/modpost
/kernel-4.9/scripts/pnmtologo
/kernel-4.9/scripts/recordmcount
/kernel-4.9/scripts/sortextable
/kernel-4.9/usr/gen_init_cpio
